* {
    background-color: blue;
}

#container {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 6%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid black;
}

.black-square {
    background-color: black;
    width: 6%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}