* {
    background-color: blue;
    box-sizing: border-box;
}

#container {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    width: 6%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid black;
}

.black-square {
    background-color: black;
    width: 6%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

#btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#set-pixel-btn {
    background-color: white;
    height: 50px;
    aspect-ratio: 3/1;
    border-radius: 10px;
    margin: 20px 0;
}